.design {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.design .design-system {
  background-color: #ffffff;
  border: 1px none;
  height: 5612px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.design .overlap {
  height: 1074px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.design .backgroundhero {
  height: 555px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.design .mobile-native {
  color: #9251f7;
  font-family: var(--notes-font-family);
  font-size: var(--notes-font-size);
  font-style: var(--notes-font-style);
  font-weight: var(--notes-font-weight);
  left: 175px;
  letter-spacing: var(--notes-letter-spacing);
  line-height: var(--notes-line-height);
  position: absolute;
  top: 41px;
  white-space: nowrap;
}

.design .frame {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 14px;
  left: 175px;
  position: absolute;
  top: 63px;
}

.design .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.design .simulador-de-cr-dito {
  color: var(--layout-dark-90);
  font-family: var(--subtitle-font-family);
  font-size: var(--subtitle-font-size);
  font-style: var(--subtitle-font-style);
  font-weight: var(--subtitle-font-weight);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.design .propuesta-de-concept {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: relative;
  width: 415px;
}

.design .group {
  height: 53px;
  position: relative;
  width: 250px;
}

.design .propuesta-de-concept-wrapper {
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.design .text-wrapper {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: absolute;
  top: 0;
  width: 248px;
}

.design .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
  left: 0;
  position: absolute;
  top: 28px;
}

.design .frame-wrapper {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.design .div-wrapper {
  align-items: center;
  background-color: #9251f7;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.design .text {
  color: #ffffff;
  font-family: "DM Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.design .btn-sign {
  height: 60px;
  left: 80px;
  position: absolute;
  top: 20px;
  width: 60px;
}

.design .group-2 {
  height: 651px;
  left: 298px;
  position: absolute;
  top: 423px;
  width: 849px;
}

.design .p {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: absolute;
  top: 52px;
  width: 736px;
}

.design .what-people-are-sayi {
  color: var(--layout-dark-90);
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  left: 0;
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.design .overlap-group {
  background-color: #d9d9d9;
  height: 467px;
  left: 0;
  position: absolute;
  top: 184px;
  width: 845px;
}

.design .polygon {
  height: 87px;
  left: 398px;
  position: absolute;
  top: 181px;
  width: 75px;
}

.design .screen-shot {
  height: 273px;
  left: 731px;
  object-fit: cover;
  position: absolute;
  top: 51px;
  width: 483px;
}

.design .frame-3 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 72px;
  left: 298px;
  position: absolute;
  top: 1167px;
}

.design .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.design .group-3 {
  height: 897px;
  position: relative;
  width: 844px;
}

.design .frame-5 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
}

.design .what-people-are-sayi-2 {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 42px;
  margin-top: -1px;
  position: relative;
  width: 498.94px;
}

.design .span {
  color: #9251f7;
}

.design .text-wrapper-2 {
  color: #19192e;
  font-size: 32px;
  letter-spacing: -1.28px;
}

.design .frame-6 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 72px;
  position: relative;
}

.design .frame-7 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.design .identity-overview {
  height: 475px;
  object-fit: cover;
  position: relative;
  width: 844px;
}

.design .group-4 {
  height: 16px;
  position: relative;
  width: 96px;
}

.design .frame-8 {
  align-items: center;
  display: inline-flex;
  gap: 24px;
  justify-content: center;
  position: relative;
}

.design .ellipse {
  background-color: #9251f7;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
}

.design .ellipse-2 {
  background-color: #c8acf3;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
}

.design .group-5 {
  height: 215px;
  margin-right: -4px;
  position: relative;
  width: 848px;
}

.design .what-people-are-sayi-3 {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 0;
  letter-spacing: -0.96px;
  line-height: 42px;
  position: absolute;
  top: 0;
  width: 499px;
}

.design .propuesta-de-concept-2 {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: absolute;
  top: 95px;
  width: 844px;
}

.design .img {
  height: 384px;
  object-fit: cover;
  position: relative;
  width: 844px;
}

.design .group-wrapper {
  height: 803px;
  position: relative;
  width: 848.03px;
}

.design .group-6 {
  height: 803px;
  position: relative;
  width: 848px;
}

.design .frame-9 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  position: absolute;
  top: 0;
}

.design .group-7 {
  height: 172px;
  position: relative;
  width: 835px;
}

.design .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.design .what-people-are-sayi-4 {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.96px;
  line-height: 42px;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.design .propuesta-de-concept-3 {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: relative;
  width: 835px;
}

.design .frame-11 {
  align-items: flex-start;
  box-shadow: 0px 0px 4px 1px #cbccd01a, 0px 2px 2px #4f4f4f14;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.design .frame-12 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.design .frame-13 {
  align-items: center;
  background-color: #f5f5f8;
  border-radius: 4px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  padding: 8px;
  position: relative;
}

.design .text-2 {
  color: #9251f7;
  font-family: "DM Sans", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 9px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.design .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  position: absolute;
  top: 379px;
}

.design .group-8 {
  height: 195px;
  position: relative;
  width: 843px;
}

.design .propuesta-de-concept-4 {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: relative;
  width: 843px;
}

.design .group-9 {
  height: 205px;
  position: relative;
  width: 848.03px;
}

.design .mask-group {
  height: 205px;
  left: 0;
  position: absolute;
  top: 0;
  width: 433px;
}

.design .screen-shot-2 {
  height: 205px;
  left: 433px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 415px;
}

.design .group-10 {
  height: 495px;
  position: relative;
  width: 845.92px;
}

.design .frame-15 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.design .group-11 {
  height: 172px;
  position: relative;
  width: 841px;
}

.design .propuesta-de-concept-5 {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: absolute;
  top: 52px;
  width: 837px;
}

.design .group-12 {
  height: 299px;
  position: relative;
  width: 845.92px;
}

.design .mask-group-2 {
  height: 299px;
  left: 430px;
  position: absolute;
  top: 0;
  width: 415px;
}

.design .screen-shot-3 {
  height: 299px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 430px;
}

.design .group-13 {
  height: 410px;
  position: relative;
  width: 846px;
}

.design .frame-16 {
  align-items: flex-start;
  display: inline-flex;
  left: 0;
  position: absolute;
  top: 196px;
}

.design .overlap-group-wrapper {
  height: 214px;
  position: relative;
  width: 844.7px;
}

.design .overlap-group-2 {
  height: 214px;
  position: relative;
  width: 845px;
}

.design .mask-group-3 {
  height: 214px;
  left: 0;
  position: absolute;
  top: 0;
  width: 533px;
}

.design .mask-group-4 {
  height: 214px;
  left: 489px;
  position: absolute;
  top: 0;
  width: 356px;
}

.design .group-14 {
  height: 152px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 849px;
}

.design .propuesta-de-concept-6 {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: absolute;
  top: 52px;
  width: 845px;
}

.design .group-15 {
  height: 613px;
  position: relative;
  width: 845px;
}

.design .group-16 {
  height: 192px;
  margin-right: -4px;
  position: relative;
  width: 849px;
}

.design .group-17 {
  height: 397px;
  position: relative;
  width: 845px;
}

.design .screen-shot-4 {
  height: 397px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 422px;
}

.design .screen-shot-5 {
  height: 397px;
  left: 423px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 422px;
}

.design .group-18 {
  height: 235px;
  position: relative;
  width: 845px;
}

.design .propuesta-de-concept-7 {
  color: var(--layout-gray-60);
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.28px;
  line-height: 19.6px;
  position: relative;
  width: 845px;
}

.design .footer {
  background-color: transparent;
  height: 137px;
  left: 0;
  position: absolute;
  top: 5487px;
  width: 1440px;
}

.design .overlap-2 {
  background-image: url(../../../static/img/rectangle-363.svg);
  background-size: 100% 100%;
  height: 125px;
  width: 1440px;
}

.design .group-19 {
  height: 80px;
  left: 646px;
  position: relative;
  top: 22px;
  width: 150px;
}

.design .galarchenko {
  color: #516cf7;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.24px;
  line-height: 16.8px;
  position: absolute;
  text-align: center;
  top: 0;
}

.design .group-20 {
  height: 21px;
  left: 49px;
  position: absolute;
  top: 59px;
  width: 52px;
}

.design .logo-linkedin {
  background-image: url(../../../static/img/fill-1.svg);
  background-size: 100% 100%;
  height: 15px;
  left: 35px;
  position: absolute;
  top: 5px;
  width: 15px;
}

.design .text-wrapper-3 {
  color: #516cf7;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
