.main-page {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.main-page .div {
  background-color: #ffffff;
  border: 1px none;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.main-page .overlap {
  height: 785px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.main-page .backgroundhero {
  height: 608px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.main-page .portfolio-of-UI-desi {
  color: #5d86a7;
  font-family: "Roboto", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0.3px;
  line-height: 21px;
  position: absolute;
  top: 258px;
  width: 558px;
}

.main-page .p {
  color: transparent;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 81px;
  letter-spacing: 0.28px;
  line-height: 19.6px;
  position: absolute;
  top: 350px;
  width: 438px;
}

.main-page .text-wrapper {
  color: #5d86a7;
}

.main-page .span {
  color: #9251f7;
}

.main-page .logo-linkedin {
  display: block;
  height: 19px;
  left: 1341px;
  position: absolute;
  top: 63px;
  width: 19px;
}

.main-page .text-wrapper-2 {
  color: #9251f7;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 1293px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
  width: 21px;
}

.main-page .agile-user-interface {
  color: #25323c;
  font-family: "Roboto", Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 81px;
  letter-spacing: -2px;
  line-height: 70px;
  position: absolute;
  top: 177px;
  white-space: nowrap;
  width: 254px;
}

.main-page .home {
  background-color: #ffffff;
  border-radius: 13.15px;
  box-shadow: var(--shadows-black30);
  height: 234px;
  left: 911px;
  overflow: hidden;
  position: absolute;
  top: 243px;
  width: 278px;
}

.main-page .hola-andrew-listo-p {
  color: #25323c;
  font-family: "Roboto", Helvetica;
  font-size: 15.8px;
  font-weight: 700;
  left: 77px;
  letter-spacing: 0.16px;
  line-height: normal;
  position: absolute;
  top: 145px;
  white-space: nowrap;
}

.main-page .desaf-os {
  color: #859fb3;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 106px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 169px;
  white-space: nowrap;
}

.main-page .overlap-group {
  height: 96px;
  left: 82px;
  position: absolute;
  top: 36px;
  width: 84px;
}

.main-page .photo-wrapper {
  background-image: url(../../../static/img/whatsapp-image-2022-04-10-at-17-01-45-1.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 42.09px;
  box-shadow: 0px 10px 20px #003a6c21;
  height: 84px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}

.main-page .component-points-m {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgb(225.95, 208.62, 252.88) 0%,
    rgb(230.66, 253.94, 237.96) 64.06%,
    rgb(213.52, 219.06, 247.56) 100%
  );
  border-radius: 65.77px;
  box-shadow: 0px 5px 20px #fa766033;
  display: inline-flex;
  gap: 6.58px;
  left: 17px;
  padding: 5.92px 9.86px;
  position: absolute;
  top: 71px;
}

.main-page .element {
  color: var(--black);
  font-family: "Roboto", Helvetica;
  font-size: 10.5px;
  font-weight: 700;
  height: 13.15px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.66px;
  position: relative;
  text-align: center;
  width: 30.25px;
}

.main-page .frame {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: var(--shadows-black30);
  display: flex;
  gap: 10px;
  height: 61px;
  left: 1173px;
  overflow: hidden;
  padding: 16px 24px;
  position: absolute;
  top: 367px;
  width: 186px;
}

.main-page .group {
  height: 21px;
  position: relative;
  width: 21px;
}

.main-page .text-wrapper-3 {
  color: #5d86a7;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.48px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.main-page .frame-2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: var(--shadows-black30);
  display: flex;
  gap: 10px;
  height: 61px;
  left: 862px;
  overflow: hidden;
  padding: 16px 24px;
  position: absolute;
  top: 161px;
  width: 169px;
}

.main-page .img {
  height: 22px;
  position: relative;
  width: 22px;
}

.main-page .frame-3 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: var(--shadows-black30);
  display: flex;
  gap: 10px;
  height: 62px;
  left: 1053px;
  overflow: hidden;
  padding: 16px 24px;
  position: absolute;
  top: 199px;
  width: 202px;
}

.main-page .group-2 {
  height: 21px;
  position: relative;
  width: 12.19px;
}

.main-page .frame-4 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: var(--shadows-black30);
  display: flex;
  gap: 8px;
  height: 62px;
  left: 741px;
  overflow: hidden;
  padding: 16px 24px;
  position: absolute;
  top: 340px;
  width: 215px;
}

.main-page .group-3 {
  height: 20px;
  position: relative;
  width: 20px;
}

.main-page .group-4 {
  height: 33px;
  left: 81px;
  position: absolute;
  top: 55px;
  width: 305px;
}

.main-page .logo {
  color: #19192e;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: -0.8px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 136px;
}

.main-page .pill {
  align-items: center;
  background-color: #9251f71a;
  border-radius: 179.47px;
  display: flex;
  gap: 18px;
  height: 33px;
  left: 154px;
  padding: 6px 14px;
  position: absolute;
  top: 0;
  width: 148px;
}

.main-page .state {
  color: #9251f7;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.main-page .thumbnail {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: var(--shadows-black30);
  height: 229px;
  left: 81px;
  overflow: hidden;
  position: absolute;
  top: 556px;
  width: 410px;
}

.main-page .figma {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 13.77px #003a6c0f;
  height: 28px;
  left: 24px;
  position: absolute;
  top: 186px;
  width: 28px;
}

.main-page .figma-logo {
  height: 14px;
  left: 9px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 10px;
}

.main-page .mobile-native {
  color: #19192e;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 0.32px;
  line-height: 19.2px;
  position: absolute;
  top: 62px;
  width: 149px;
}

.main-page .mobile-native-2 {
  color: #859fb3;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0.28px;
  line-height: 16.8px;
  position: absolute;
  top: 89px;
  width: 149px;
}

.main-page .mobile-native-3 {
  color: var(--greengreen-positive-texts-green300);
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 0.24px;
  line-height: 13.2px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.main-page .overlap-2 {
  height: 229px;
  left: 169px;
  position: absolute;
  top: 0;
  width: 241px;
}

.main-page .mask-group {
  height: 119px;
  left: 0;
  position: absolute;
  top: 0;
  width: 241px;
}

.main-page .mask-group-2 {
  height: 175px;
  left: 63px;
  position: absolute;
  top: 54px;
  width: 178px;
}

.main-page .thumbnail-2 {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: var(--shadows-black30);
  height: 229px;
  left: 515px;
  overflow: hidden;
  position: absolute;
  top: 556px;
  width: 410px;
}

.main-page .overlap-3 {
  height: 217px;
  left: 181px;
  position: absolute;
  top: 0;
  width: 229px;
}

.main-page .mask-group-3 {
  height: 108px;
  left: 0;
  position: absolute;
  top: 0;
  width: 215px;
}

.main-page .mask-group-4 {
  height: 182px;
  left: 54px;
  position: absolute;
  top: 35px;
  width: 175px;
}

.main-page .overlap-wrapper {
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: var(--shadows-black30);
  height: 229px;
  left: 949px;
  overflow: hidden;
  position: absolute;
  top: 556px;
  width: 411px;
}

.main-page .overlap-4 {
  height: 531px;
  left: 11px;
  position: relative;
  width: 391px;
}

.main-page .figma-2 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 176px;
  width: 56px;
}

.main-page .overlap-5 {
  height: 531px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 382px;
}

.main-page .mobile-native-4 {
  color: #859fb3;
  font-family: "Poppins", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0.28px;
  line-height: 16.8px;
  position: absolute;
  top: 108px;
  width: 149px;
}

.main-page .aside-wrapper {
  height: 531px;
  left: 135px;
  position: absolute;
  top: 0;
  width: 247px;
}

.main-page .aside {
  height: 531px;
}

.main-page .overlap-6 {
  height: 531px;
  position: relative;
  width: 255px;
}

.main-page .container {
  background-color: #ffffff;
  height: 531px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 255px;
}

.main-page .overlap-7 {
  height: 221px;
  left: 72px;
  position: absolute;
  top: -146px;
  width: 157px;
}

.main-page .rectangle {
  background-color: var(--statusinfo);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 106px;
  left: 48px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 104px;
}

.main-page .rectangle-2 {
  background-color: var(--statussuccess);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 121px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 100px;
  width: 108px;
}

.main-page .rectangle-3 {
  background-color: var(--primarydefault);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 66px;
  left: 98px;
  opacity: 0.1;
  position: absolute;
  top: 152px;
  width: 59px;
}

.main-page .rectangle-4 {
  background-color: var(--secondarydefault);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 106px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: -194px;
  width: 66px;
}

.main-page .overlap-8 {
  height: 245px;
  left: 15px;
  position: absolute;
  top: 481px;
  width: 221px;
}

.main-page .overlap-group-2 {
  height: 175px;
  left: 0;
  position: absolute;
  top: 0;
  width: 189px;
}

.main-page .rectangle-5 {
  background-color: var(--statusinfo);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 100px;
  left: 72px;
  opacity: 0.1;
  position: absolute;
  top: 0;
  width: 117px;
}

.main-page .rectangle-6 {
  background-color: var(--statussuccess);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 113px;
  left: 0;
  opacity: 0.1;
  position: absolute;
  top: 62px;
  width: 78px;
}

.main-page .rectangle-7 {
  background-color: var(--primarydefault);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 113px;
  left: 119px;
  opacity: 0.1;
  position: absolute;
  top: 132px;
  width: 102px;
}

.main-page .rectangle-8 {
  background-color: var(--secondarydefault);
  border-radius: 100px;
  box-shadow: var(--blur-large);
  filter: blur(64px);
  height: 216px;
  left: 97px;
  opacity: 0.1;
  position: absolute;
  top: 115px;
  width: 117px;
}

.main-page .container-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 531px;
  left: 0;
  padding: 24px;
  position: absolute;
  top: 0;
  width: 180px;
}

.main-page .header {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.main-page .div-wrapper {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  margin-right: -8px;
  position: relative;
  width: 140px;
}

.main-page .text {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.main-page .divider {
  align-self: stretch;
  height: 1px;
  position: relative;
  width: 100%;
}

.main-page .div-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 12px;
  position: relative;
  width: 100%;
}

.main-page .row {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.main-page .text-2 {
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.main-page .mobile-native-5 {
  color: #19192e;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0.32px;
  line-height: 19.2px;
  position: absolute;
  top: 62px;
  width: 315px;
}

.main-page .mobile-native-6 {
  color: #9251f7;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 9px;
  letter-spacing: 0.24px;
  line-height: 13.2px;
  position: absolute;
  top: 19px;
  white-space: nowrap;
}

.main-page .footer {
  background-color: transparent;
  height: 137px;
  left: 0;
  position: absolute;
  top: 902px;
  width: 1440px;
}

.main-page .group-wrapper {
  background-image: url(../../../static/img/rectangle-363.svg);
  background-size: 100% 100%;
  height: 122px;
  width: 1440px;
}

.main-page .group-5 {
  height: 80px;
  left: 646px;
  position: relative;
  top: 22px;
  width: 150px;
}

.main-page .galarchenko {
  color: #516cf7;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 300;
  left: 0;
  letter-spacing: 0.24px;
  line-height: 16.8px;
  position: absolute;
  text-align: center;
  top: 0;
}

.main-page .group-6 {
  height: 21px;
  left: 49px;
  position: absolute;
  top: 59px;
  width: 52px;
}

.main-page .logo-linkedin-2 {
  background-image: url(../../../static/img/fill-1.svg);
  background-size: 100% 100%;
  height: 15px;
  left: 35px;
  position: absolute;
  top: 5px;
  width: 15px;
}

.main-page .text-wrapper-4 {
  color: #516cf7;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
